<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="help_info">
      <h3>E-Health care management system is command-driven application that helps to manage the record of the patient's as well as generate their hospital bills.</h3><hr>
      <h1>Options | Description</h1><hr>
      <p><b>1. Add New Patient Record >> </b>A new patient file can be created by using this module.</p>
      <p><b>2. Add Diagnosis Information >> </b>Adding day-to-day evaluation of the patient or the diagnosis report in the existing file.</p>
      <p><b>3. Add Bed Admission Details >> </b>An existing patient Bed Admission file can be created by using this module.</p>
      <p><b>4. History of the Patient >> </b>Check the previous or existing details of particular patient by using their file name.</p>
      <p><b>5. Bill of the patient >> </b>Generates the bill of the patient with displaying the details.</p>
      <p><b>6. Help >> </b>Provide the help documentation.</p>
    </div>
    <a href="/home">Home</a>
  </body>
</html>
