<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>E-HEALTH CARE MANAGEMENT SYSTEM</h1><hr>
      <a href="/addpatient">Add New Patient Record</a><br>
      <a href="/cnfuser">Add Diagnosis Information</a><br>
      <a href="/cnfuser1">Add Bed Admission Details</a><br>
      <a href="/cnfuser2">History of the Patient</a><br>
      <a href="/cnfuser3">Bill of the patient</a><br>
      <a href="/help">Help</a><br>
      <a href="/logout">Logout</a>
    </div>
  </body>
</html>
